In [8]:
#Задание 1
#Импортируйте библиотеки pandas и numpy.
#Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. 
#Создайте датафреймы X и y из этих данных.
#Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test)
#с помощью функции train_test_split так, чтобы размер тестовой выборки
#составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
#Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression 
#из модуля sklearn.linear_model.
#Обучите модель на тренировочных данных (используйте все признаки)
#и сделайте предсказание на тестовых.
#Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

import pandas as pd
import numpy as np

from sklearn.datasets import load_boston
boston = load_boston() #с помощью функции load_boston() загрузим датасет в переменную бостон
boston.keys() #выведем имеющиеся ключи в датасете

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [12]:
data = boston['data'] #каждая строка есть объект недвижимости
feature_names = boston['feature_names'] #массив содержит признаки объекта недвижимости
target = boston['target'] #содержит цены на каждый объект

(13,)

In [13]:
x = pd.DataFrame(data, columns=feature_names)# создадим датафрейм из data 
# с присвоением признакам имен из feature_names и запишем в переменную x
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
x.info() #датафрейм не подразумевает пропущенных данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

In [21]:
y = pd.DataFrame(target, columns=["price"]) #создадим датафрейм с ценами 
# и присвоим имя признаку = "price"
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
price    506 non-null float64
dtypes: float64(1)
memory usage: 4.1 KB

In [23]:
from sklearn.model_selection import train_test_split #импортируем метод для разделения 
# датафреймов на тренировочную и тестовую выборки
# параметры x и y содержат датафреймы для разделения
# test_size - размер данных на которых будет тестироваться модель - от общего набора
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.30)

In [24]:
from sklearn.linear_model import LinearRegression #импорт модели линейной регрессии 
#из библиотеки sklearn
lr = LinearRegression()
lr.fit(x_train, y_train) #передаем датафреймы для обучения модели

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
y_pred = lr.predict(x_test) # даем тестовые данные на вход что бы посмотреть качество модели
y_pred.shape

(152, 1)

In [26]:
check_test = pd.DataFrame({ # создаем датафрейм с тестовыми данными и фактом предсказания модели
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [29]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7112260057484935

In [30]:
#Задание 2
#Создайте модель под названием model с помощью RandomForestRegressor из модуля 
#sklearn.ensemble.
#Сделайте агрумент n_estimators равным 1000,
#max_depth должен быть равен 12 и random_state сделайте равным 42.
#Обучите модель на тренировочных данных аналогично тому, как вы обучали модель 
#LinearRegression,
#но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
#чтобы получить из датафрейма одномерный массив Numpy,
#так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно
#применение массивов вместо датафрейма.
#Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из 
#предыдущего задания.
#Напишите в комментариях к коду, какая модель в данном случае работает лучше.

from sklearn.ensemble import RandomForestRegressor
#model = RandomForestRegressor(max_depth = 12, random_state = 42, n_estimators = 1000)
#model.fit(x_train, y_train)

from sklearn.model_selection import GridSearchCV

parameters = {
    
}

/home/user/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)